.vertical-line {
  position: relative;
}

.vertical-line::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 70%;

  background-color: #3373b5;
}
